@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f4f4f4;
}

@layer base {
  body::-webkit-scrollbar {
    width: 0.5rem;
  }

  body::-webkit-scrollbar-track {
    background-color: #f0f0f042;
  }

  body::-webkit-scrollbar-thumb {
    background: #0c1821;
  }
}

.bg-color {
  background: linear-gradient(
    180deg,
    #4a99d3 -13.94%,
    rgba(74, 153, 211, 0.2) 97.39%
  );
}

.underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
}

.underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #f4f4f4;
  transform-origin: bottom right;
  transition: transform 0.35s ease-in-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
